/*.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

.button {
  position: absolute;
  width: 170px;
  height: 44px;
  left: 159px;
  top: 445px;
  background: #0d64ff;
  border-radius: 40px;
  color: white;
  font-family: Manjari;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.01em;
  line-height: 44px;
}

.logo {
  position: absolute;
  width: 104.63px;
  height: 62px;
  left: 60px;
  top: 38px;
}

/* <-- Start Sections --> */

h1 {
  position: absolute;
  display: flex;
  font-family: "Manjari";
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 65px;
  text-align: center;
  letter-spacing: -0.01em;
  left: 612px;
}

/* -- Story --*/
#story {
  display: flex;
  margin: auto;
  width: 100%;
  height: 1264px;
  left: 0;
  background: white;
  color: #0d64ff;
}

#story h1 {
  margin: 0 auto;
  margin-top: 28px;
  width: 547px;
  height: 59px;
  top: 692px;
  font-family: "Manjari";
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 65px;
  text-align: center;
  letter-spacing: -0.01em;
  background: transparent;
}

.open-logo {
  width: 300px;
  height: 434px;
  left: 940px;
  top: 150px;
  display: flex;
  font-family: "Manjari";
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 101%;
  text-align: right;
  color: #0d64ff;
}

#story p {
  margin: 0 auto;
  margin-top: 33em;
  width: 31em;
  left: 0;
  top: 0;
  font-family: "Manjari";
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 40px;
  /* or 160% */
  text-align: center;
  letter-spacing: -0.02em;
  color: #858585;
}

.image-url {
  position: absolute;
  width: 479px;
  height: 479px;
  left: 510px;
  top: 120px;
  border-radius: 50%;
  background: url(https://s3-alpha-sig.figma.com/img/2d05/5415/ecaae612e0bc3ce2acff1649c56143d5?Expires=1583712000&Signature=eK~MwzVyFv6AM800y0q-op8myt4IuX6KJZ7ByvkSUwMiMvO89TuUx61bym2Lid9KBTxn2luROEVqakSjFyzg4DEDoU-BOzdLfWOR1nG0ADakEmWJEYB9ziqrBawrxt0G1rP9lqTFEY1skt86GAS-cOG0ZDx6YvEltsMc4mT0gYHrbT7kM~MvOYLV9Mpu-ra5ZS6zgwlHUu7x-GHCGroxbcQ9G7kmw7midhXuGwEFkWCWfCKXHMxvLApL2GkCySlwD~Hq-QMuXIGo3dmjR6j~~c4ytjQUy53eWEZ1BwZpfBxxECTOzDdpbjWehOD9sZ4i2jMAE-A95eOxYPyciCZ~mg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 250%;
}

/* -- Mission --*/

#mission {
  display: flex;
  margin: auto;
  width: 100%;
  height: 960px;
  left: 0px;
  background: #0d64ff;
  color: white;
}

#mission h1 {
  margin: auto;
  max-width: 7em;
  top: 1352px;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 60px;
  /* or 32px */
  text-align: center;
  letter-spacing: -0.01em;
}

#mission h2 {
  margin: auto;
  width: 862px;
  height: 174px;
  left: 289px;
  top: 1435px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */
  color: white;
  text-align: center;
  letter-spacing: -0.01em;
  background: transparent;
}

#mission p.left {
  position: absolute;
  width: 420px;
  height: 513px;
  left: 180px;
  top: 1681px;

  font-family: Manjari;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 130%;
  /* or 52px */

  letter-spacing: -0.02em;
}

.image-mission {
  position: absolute;
  width: 772px;
  height: 494px;
  left: 730px;
  top: 1597px;
  background: url(https://s3-alpha-sig.figma.com/img/73c1/e794/ffffe32da60001faeabdac4d2131549b?Expires=1584921600&Signature=LvUzJKM4Znb971ULup4-SE3IpDgreodJKL-2dCKzo5aVrksK5q7PugCyCrtDerYi5v0g2eoRbdYfCRr~cf12eFuwVhZ3HAIGhRt4yec4rzZTrJIaYpgeHu2Ut5mps8MbQAOXWxsC1K2ou2gWe98kA9NlAJVJGD1DCdo7l--dRnGixKJosVAJ36rfohLYMufNQoxQb0tDyllrcyfxFqCAcUHu94drHORdkMJHgZBmmibyGS3dugo6S3IuC9yAKPnXXodTwFml3bqBlUP6HYOS5iyk9horOFboZRdo2V1RkJndnT5BtGv~fY1KjHatkBa~6qTjB-XvbnxyRi7x2kcUeg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
  border-radius: 60px;
  background-position: 45% center;
  background-repeat: no-repeat;
  background-size: 120%;
}

/* -- Values --*/

#values {
  display: flex;
  margin: auto;
  width: 100%;
  height: 730px;
  left: 0px;
  top: 2224px;
  background: #0f378c !important;
  color: white;
}

#values h1 {
  margin: 0 auto;
  max-width: 7em;
  top: 2224px;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 200px;
  /* or 32px */
  text-align: center;
  letter-spacing: -0.01em;
}

#values .careersBtn {
  position: absolute;
  width: 165px;
  height: 44px;
  margin-left: 46%;
  top: 2390px;
  color: white;
  background: #0d64ff;
  border-radius: 40px;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.01em;
  border: 0;
}

#values ul {
  display: flex;
  position: absolute;
  list-style: none;
  left: 6em;
  align-content: center;
  margin-left: 70px;
  padding: 0px 0px;
  white-space: wrap;
}

#values ul li {
  display: inline-block;
  flex-grow: 1;
  color: white;
  width: 252px;
  height: 140px;
  top: 2710px;
  padding: 0px 12px;
  margin-top: 500px;
  font-family: Manjari;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 135.8%;
  /* or 27px */
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  overflow: hidden;
}

#values ul li a {
  position: absolute;
  font-family: "Manjari";
  font-style: normal;
  font-weight: bold;
  top: 420px;
  margin-left: 3%;
  padding: 10px 0px;
  font-size: 30px;
  line-height: 107.8%;
  /* or 32px */
  letter-spacing: -0.02em;
}

/* -- WhoWeAre -- */

#whoweare {
  display: flex;
  margin: auto;
  width: 100%;
  height: 1008px;
  left: 0px;
  top: 1264px;
  font-size: 20px;
  background: transparent;
  color: #0d64ff;
}

#whoweare h2 {
  position: absolute;
  display: flex;
  color: black;
  left: 500px;
  top: 348px;
}


/* -- Careers -- */

section .careers {
  display: flex;
  margin: auto;
  width: 100%;
  height: 789px;
  left: 0px;
  top: 4075px;
  background: #f2f3f2;
  color: #0d64ff;
}

section .careers h1 {
  position: absolute;
  width: 387px;
  height: 70px;
  left: 183px;
  top: 3999px;
}

section .careers h2 {
  position: absolute;
  width: 412px;
  height: 224px;
  left: 183px;
  top: 4080px;
  font-family: Manjari;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 130.8%;
  /* or 52px */
  letter-spacing: -0.03em;
  color: #000000;
}

section p.careers {
  position: absolute;
  width: 417px;
  height: 100px;
  left: 183px;
  top: 4200px;
  font-family: Manjari;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 40px;
  /* or 160% */

  letter-spacing: -0.02em;

  color: #858585;
}

.careers ul {
  position: absolute;
  list-style: none;
  width: 550px;
  height: 107px;
  left: 710px;
  top: 4000px;
  font-family: Manjari;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 130.8%;
  /* or 52px */

  letter-spacing: -0.03em;

  color: #0d64ff;
}

.careers li {
  margin-top: 10px;
  left: 0px;
  text-align: center;
  margin-right: 160px;
}

.careers ul li:hover {
  margin-top: 10px;
  width: 626px;
  height: 232px;
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  text-align: center;
  margin-right: 160px;
  left: 0px;
}

/* -- Connect -- */

section .connect {
  display: flex;
  margin: auto;
  width: 100%;
  height: 485px;
  left: 0px;
  top: 4865px;
  background: #0f378c;
  color: white;
}

.right-block {
  width: 280px;
  height: 120px;
  padding: 10px 20px;
}

section h2 {
  position: absolute;
  width: 403px;
  height: 230px;
  left: 159px;
  top: 184px;
  text-align: left;
  font-family: Manjari;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 130.8%;
  /* or 47px */

  letter-spacing: -0.03em;

  color: #0d64ff;
}

.connect ul {
  display: inline-flex;
  position: relative;
  list-style: none;
  left: 6em;
  align-content: center;
  margin-left: 100px;
  padding: 0px 10px;
}

.connect ul li {
  display: inline-block;
  flex-grow: 1;
  color: white;
  width: 313px;
  height: 180px;
  left: 185px;
  top: 4500px;
  padding: 0px 12px;
  margin-top: 240px;
  font-family: Manjari;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 135.8%;
  /* or 27px */
  text-align: left;
  letter-spacing: -0.02em;
  color: #ffffff;
  overflow: hidden;
}

.connect .a1 {
  position: absolute;
  width: 340px;
  height: 52px;
  left: 210px;
  top: 4700px;
  margin-top: 240px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 130.8%;
  /* or 52px */

  letter-spacing: -0.03em;

  color: #ffffff;
}

.connect .a2 {
  position: absolute;
  width: 252px;
  height: 97px;
  left: 552px;
  top: 4944px;
  font-family: Manjari;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 130.8%;
  /* or 52px */

  letter-spacing: -0.03em;

  color: #ffffff;
}

.connect .a3 {
  position: absolute;
  width: 252px;
  height: 97px;
  left: 890px;
  top: 4944px;
  font-family: Manjari;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 130.8%;
  /* or 52px */

  letter-spacing: -0.03em;

  color: #ffffff;
}

/* <-- End Sections --> */

/* -- Shapes -- */

.connect-blue-sm {
  position: absolute;
  width: 53px;
  height: 53px;
  left: 78px;
  top: 4464px;
  background: #0f378c;
}

.dot:hover {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .dot {
    animation: circle-spin infinite 20s linear;
  }
}

.circle {
  transition: all 0.5s ease;
  position: sticky;
  display: inline-block;
  background: rgba(123, 205, 187, 0.4);
  border-radius: 50%;
  width: 150px;
  height: 160px;
  left: 465px;
  top: 45px;
  margin-right: 85%;
}

.circle:hover {
  background-color: #61dafb;
  width: 200px;
  height: 200px;
  transform: translate3d(20x, 0px, 0px);
}

@keyframes circle-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ellipse-lg {
  position: absolute;
  width: 122px;
  height: 121px;
  left: 194px;
  top: 495px;
  background-color: rgba(123, 205, 187, 0.4);
  border-radius: 50%;
}

.ellipse-sm {
  position: absolute;
  width: 53px;
  height: 53px;
  left: 337px;
  top: 653px;
  border-radius: 50%;
  background: #0f378c;
}

.rectangle {
  position: absolute;
  width: 441px;
  height: 15px;
  left: -194px;
  top: 528px;
  background: #0d64ff;
  border-radius: 100px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.rectangle-lg {
  position: absolute;
  width: 941px;
  height: 32px;
  left: -328px;
  top: 1250px;
  background: #0f378c;
  border-radius: 100px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.rectangle-v {
  position: absolute;
  width: 31px;
  height: 74.4px;
  left: 99px;
  top: 1752px;
  background: #ffffff;
  border-radius: 50px;
}

.dot-gray {
  position: absolute;

  width: 31px;
  height: 31px;
  left: 99px;
  top: 1838px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.dot-gray-2 {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 99px;
  top: 1880px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.open-gray {
  position: absolute;
  left: 776px;
  top: 382px;
}

.values-a {
  position: absolute;
  left: 1310px;
  top: 2284px;
}

.graybar {
  position: absolute;
  left: 1224px;
  top: 2214px;
}

.who-blue {
  position: absolute;
  left: -80px;
  top: 2940px;
}
.open-blue {
  max-width: 800px;
  position: absolute;
  left: 1282px;
  top: 258px;
  max-width: 100%;
}

.open-o-blue {
  position: absolute;
  left: 0px;
  top: 960px;
}

.ellipse-lg-gray {
  position: absolute;
  width: 246px;
  height: 246px;
  left: 1234px;
  top: 885px;
  border-radius: 50%;
  background: #ebebeb;
}

.ellipse-sm-right {
  position: absolute;
  width: 53px;
  height: 53px;
  left: 1210px;
  top: 1118px;
  border-radius: 50%;
  background: #0f378c;
}

.dot-gray-lg {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1304px;
  top: 1377px;
  border-radius: 50%;
  background: #ebebed;
}

.dot-green-sm {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1274px;
  top: 1453px;
  border-radius: 50%;
  background: #7bcdbb;
}

.open-drk-blue {
  position: absolute;
  left: 1318px;
  top: 1441px;
}

.values-dot {
  position: absolute;
  display: inline-block;
  margin-left: 5%;
  top: 262px;
  width: 118.7px;
  height: 116.95px;
  border-radius: 50%;
  background: #ebebeb;
}

.opaque {
  position: absolute;
  left: -51px;
  top: 1968px;
}

.green {
  position: absolute;
  left: 261px;
  top: 2121px;
}

/* SlideMenu */

#whoweare-menu {
  margin: 0 auto;
  margin-top: 150px;
  margin-left: 16%;
}

ul#slider-menu {
  display: inline-flex;
  background: #ebebeb;
  width: 100%;
  padding: 0px 0px;
  margin: 0px 0px;
  position: relative;
  border-radius: 40px;
  overflow: visible;
  z-index: 2;
  text-align: center;
}

li.menu-item {
  flex-grow: 1;
  white-space: nowrap;
  list-style: none;
  height: 22px;
  padding: 14px 0px;
  z-index: 2;
  transition: highlight 0.5s ease-in-out;
}

li.menu-item.active {
  color: white;
  padding: 0 -1px;
  transition: color 0.3s ease-in;
  transform: scale(1.05);
}

li.menu-item:hover {
  cursor: pointer;
  color: black;
}

li.menu-item.active:hover {
  color: white;
}

li.menu-item .menu-item-text {
  transition: transform 0.3s linear;
}

li.menu-item.active .menu-item-text {
  display: inline-block;
  transform: scale(1.05);
}

#highlight {
  height: 44px;
  border-radius: 28px;
  height: 100%;
  background: #0d64ff;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
  transition: all 0.5s ease-in-out;
  /*  transform: translateX(-100%); */
}

/* OpenAP staff list */

.open {
  margin-left: 10%;
  margin-top: 0px;
  margin: 0 auto;
}


.open ul {
  display: inline-block;
  list-style: none;
  width: 1100px;
  margin-left: 120px;
  margin-top: 0px;
  background: transparent;
}

.open ul li {
  display: inline-block;
  margin-top: 70px;
  padding: 0px 20px;

}

.open ul li:nth-child(5) {
  display: inline-block;
  margin-top: 130px;
  padding: -16px 20px;
  margin-left: 130px;
}

.whoweare-dot {
  position: relative;
  width: 230px;
  height: 229px;
  border-radius: 50%;
  background-color: #ebebeb;
}

.whoweare-dot-2 {
  position: absolute;
  width: 230px;
  height: 229px;
  left: 300px;
  top: 300px;
  border-radius: 50%;
  background-color: #ebebeb;
}
